
:root{
    --beauty-primary-dark:#011C44;
    --beauty-primary-light:#2B7FFF;
    --beauty-background:#FFF;
}

/*Base*/

body{
    color: var(--beauty-primary-dark);
    font-size: 22px;
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

/*Links*/

.link {
    color:var(--beauty-primary-dark);;
    font-size: 18px;
    text-decoration: none;
}
.link:hover{
    color: var(--beauty-primary-light);
    font-weight: 700;
}

/*Button*/

.primary-button{
    padding: 16px 32px;
    border-radius: 32px;
    border: 2px solid var(--beauty-primary-light);
    background: var(--beauty-primary-light);
    color: var(--beauty-background);
    font-size: 18px;
    font-weight: 600;
}
.primary-button:hover {
    border-radius: 32px;
    background-color: var(--beauty-background);
    color: var(--beauty-primary-dark);
    font-size: 18px;
    font-weight: 600;
}

/*Titles*/

.hero-title {
    color: var(--beauty-primary-light);
    font-family: Play;
    font-size: 140px;
    font-weight: 700;
    line-height: 114px;
    text-transform: capitalize;
}
.section-title{
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
}

/*Text accentes*/

.accente{
    color: var(--beauty-primary-light);
}
.capitalize{
    text-transform: capitalize;
}
.about-us-text{
    line-height: 1.7;

}
.bold{
    font-weight: bold;
}
.why-we-section-item > p{
        color: #000;
        text-align: center;
        font-size: 18px;
        line-height: 1.3;
}
.copy-right-text{
    font-size: 13px;
    color: #747272;
}